
@keyframes text_fade {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes move_image {
    from {
        transform: translatex(200%);
    }

    to {
        transform: translatex(0%);
    }
}