* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

/*Padding & margin*/
$base-padding : 2rem;
$base-padding-half : 1rem;
$base-margin : 2rem;
$base-gap : 2rem;
$base-width : 120rem;

/*färger*/
$yellow-bg : #FFB74F;
$red-bg : #800200;
$beige-bg : #FAF1DA;
$grey-bg : #ECECEC;
$dark-grey-bg : #262626;
$light-black : #141414;
$black : #000000;
$white : #ffffff;

/*Textfärger*/
$text-dark : #262626;
$text-light : #ffffff;

/*Filter shadow*/
$filter-shadow : drop-shadow(5px 5px 5px #0000004d);

