* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

$base-padding : 2rem;

/*färger*/
$yellow-bg : #FFB74F;
$red-bg : #800200;
$beige-bg : #FAF1DA;
$grey-bg : #ECECEC;
$dark-grey-bg : #262626;

/*Textfärger*/
$text-dark : #262626;
$text-light : #ffffff;



