@use 'base';

.circle {
    background-color: #FFB74F;
    height: 50rem;
    max-width: 50rem;
    width: 100%;
    border-radius: 50rem;
}

i {
    margin-left: 1rem;
}

button {
    cursor: pointer;
}
