@use 'base';

.circle {
    background-color: #FFB74F;
    height: 50rem;
    max-width: 50rem;
    width: 100%;
    border-radius: 50rem;
}

i {
    margin-left: 1rem;
}

button {
    cursor: pointer;
}

.red-bar {
    height: 10rem;
    width: 100%;
    background-color: #800200;
    margin-bottom: base.$base-margin;
    display: none;
}
