@use 'base';
@use 'grid';
@use 'animations';

main {
    @include grid.grid-main;
    width: 100%;
    margin: 0 auto;
    color: base.$text-dark;
}

.welcome-wrap {
    max-width: base.$base-width;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: base.$base-gap;
    margin: 0 auto;
    padding: base.$base-padding;
}

.welcome-text {
    width: 100%;

    p {
        margin-top: 5rem;
    }

    span {
        display: block;
        margin-bottom: base.$base-margin;
    }
}

.welcome-image {
    width: 100%;
    max-width: 45rem;
    animation: move_image 2s ease-in-out forwards;
    position: relative;

    img {
        display: block;
        max-width: 45rem;
        width: 100%;
        filter: base.$filter-shadow;
    }
}

.search-wrap {
    width: 100%;
    background-color: base.$grey-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: base.$base-padding;
    visibility: hidden;
    animation: fade_in_searchbar 1s 2s ease-in-out forwards;

    .search-container {
        width: 100%;
        text-align: center;
    }

    label {
        display: block;
    }


    input {
        max-width: 50rem;
        width: 100%;
        height: 5rem;
        border: none;
        font-size: 2.2rem;
        padding: base.$base-padding;
        margin-top: 1rem;
    }

    button {
        height: 5rem;
        width: 100%;
        max-width: 50rem;
        margin-left: 2rem;
        background-color: base.$red-bg;
        border: none;
        color: base.$text-light;
        display: block;
        margin: 1rem auto;
    }
}

.flag-wrap {
    display: none;
    background-color: base.$yellow-bg;

    #flag {
        max-width: base.$base-width;
        width: 100%;
        margin: 0 auto;
        padding: base.$base-padding;
    }

    img {
        display: block;
        max-width: 10rem;
        width: 100%;
        filter: base.$filter-shadow;
    }

    .country-name {

        p {
            max-width: base.$base-width;
            width: 100%;
            padding-bottom: base.$base-padding;
            padding-left: base.$base-padding;
            margin: 0 auto;
            font-weight: bold;
        }
    }

}

#recipe-list {
    display: none;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;
    max-width: base.$base-width;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: base.$base-padding;
    visibility: hidden;
    animation: text_fade 1s ease-in-out forwards;
    justify-content: space-around;

    .recipe-wrap {
        max-width: 20rem;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        cursor: pointer;
    }

    img {
        display: block;
        width: 100%;
        max-width: 30rem;
    }
}

.plate-wrap {
    display: none;
    justify-content: right;
    width: 100%;
    max-width: base.$base-width;
    margin: 0 auto 15rem;
    flex-direction: row-reverse;
    gap: base.$base-gap;
    padding: base.$base-padding;

    .plate-recipe-text {
        animation: text_fade 1s ease-in-out forwards;
        z-index: -1;
        position: relative;
        visibility: hidden;
    }

    .plate-container {
        animation: move_image 2s ease-in-out forwards;
        position: relative;
        max-width: 60rem;
        width: 100%;
        height: 100%;

    }

    .plate-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            max-width: 100%;
            display: block;
            border-radius: 4rem;
        }
    }

    picture img {
        filter: base.$filter-shadow;
    }


    .steps-list {
        list-style: decimal;
        margin-left: base.$base-margin;

        li {
            margin-bottom: base.$base-margin;
        }
    }
}