body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: #FFFAEC;
    display: grid;
    height: 100%;
    max-width: 1920px;
    width: 100%;
    overflow-x: hidden;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

@mixin grid-header {
    grid-area: header;
}

@mixin grid-main {
    grid-area: main;
}

@mixin grid-footer {
    grid-area: footer;
}